body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-page {
    color: red;
}

ul {
    font-size: 22px;
    color: blue;
}

.ul-list {
    font-size: 22px;
    background: yellow;
    color: green;
    width: 200px;
    
}